h1{
    color: rgb(1, 1, 86);
    background: white;
    font-family: inherit;
    margin: 0px;
    padding: 10px;
    text-align: center
}
body {
    margin: 0px;
}
li:hover {
    background: rgb(197, 154, 154);
}
li {
    color: purple;
    background:rgb(253, 233, 233);
    display: grid;
    width: 5%;

}
.tab {
    color: blue;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.tablink {
    color: blue;
    background-color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablinks {
    color: rgb(42, 40, 40)
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
.tab button:hover {
    background-color: #ddd;
}
.tablink:hover {
    background-color: #777;
}
.tab button.active {
    background-color: #ccc
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
th, td {
    border-style: inset;
    padding: 15px;
}
table {
    border-spacing: 10px;
}           
tr:hover {background-color: #D6EEEE;}
  
#korea {
    color:rgb(197, 154, 154)
}

@media only screen and (max-width: 1000px) {
    body {
        background-color:rgb(197, 154, 154)
    }
}